
DB_CONNECTION=mysql
DB_HOST=3523.b.hostable.me
DB_PORT=3306
DB_DATABASE=b3523hos_gestionar
DB_USERNAME=b3523hos_gestion
DB_PASSWORD=Apolo3684!



<div style="padding: 10px; padding-top: 60px;">

  <md-content class="main-card">
    <div id="mensaje"></div>
    <md-tabs md-dynamic-height md-border-bottom>

      <md-tab label="Alta" ng-click="borrarOS()">

        <md-content class="noScroll">

          <div class="row">
            <div class="col-md-12">
              <div class="titulo">
                Alta de un nuevo Médico
              </div>
            </div>
          </div>
          <div class="row" style="padding-left: 25px; padding-right: 25px;">
            <div class="panel panel-default col-md-12" style="margin-top: 20px;">
              <div class="panel-body">

                <div class="col-md-12">
                  <form name="altafrm" ng-submit="Alta()">
                    <div class="form-group row">
                      <div class="col-md-4">
                        <label for="nombre" style="color: #1E4599">
                          <i class="fa fa-fw fa-user"></i>Nombre</label>
                        <input type="text" class="form-control" ng-model="medicoAlta.nombre" placeholder="Nombre" required>
                        <i>
                          <a style="color:red;">{{errorText.NOMBRE}}</a>
                        </i>
                      </div>

                      <div class="col-md-2">
                        <label for="particular" style="color: #1E4599">
                          <i class="fa fa-fw fa-medkit"></i>Particular</label>
                        <select class="form-control" ng-model="medicoAlta.particular" required>
                          <option selected disabled value>Seleccione..</option>
                          <option ng-value="1">Si</option>
                          <option ng-value="0">No</option>
                        </select>
                        <i>
                          <a style="color:red;">{{errorText.PARTICULAR}}
                            <a>
                        </i>
                      </div>

                      <div class="col-md-3">
                        <label for="nombre" style="color: #1E4599">
                          <i class="fa fa-fw fa-location-arrow"></i>ZONA</label>
                        <input type="text" class="form-control" ng-model="medicoAlta.zona" placeholder="Zona" required>
                        <i>
                          <a style="color:red;">{{errorText.ZONA}}</a>
                        </i>
                      </div>
                      <div class="col-md-3">
                        <label for="telefono" style="color: #1E4599">
                          <i class="fa fa-fw fa-phone"></i>Telefono</label>
                        <input type="text" class="form-control" ng-model="medicoAlta.telefono" placeholder="Telefono" required>
                        <i>
                          <a style="color:red;">{{errorText.TELEFONO}}</a>
                        </i>
                      </div>
                    </div>

                    <div class="form-group row" style="margin-top: 30px;">
                      <div class="col-md-5">
                        <label for="direccion" style="color: #1E4599">
                          <i class="fa fa-fw fa-location-arrow"></i>Direccion</label>
                        <input type="text" class="form-control" ng-model="medicoAlta.direccion" placeholder="Direccion" required>
                        <i>
                          <a style="color:red;">{{errorText.DIRECCION}}</a>
                        </i>
                      </div>
                      <div class="col-md-4">
                        <label for="localidad" style="color: #1E4599">
                          <i class="fa fa-fw fa-credit-card"></i>Localidad</label>
                        <input type="text" class="form-control" ng-model="medicoAlta.localidad" placeholder="Localidad" required>
                        <i>
                          <a style="color:red;">{{errorText.LOCALIDAD}}</a>
                        </i>
                      </div>
                      <div class="col-md-3">
                        <label for="localidad" style="color: #1E4599">
                          <i class="fa fa-fw fa-map-marker"></i>Coordenadas</label>
                        <input class="outline0" type="text" id="pepepepe" ng-model="lat" style="width: 0px; height: 0px; border: 0px;" required disabled>
                        <button class="Boton Success" ng-disabled="!esconderMapa" style="width: 100%;" ng-click="Mapa()" type="button">
                          <img src="images/mapa.png" width="20px" height="20px" style="float: left;" />UBICAR</button>
                        <a style="color:red;">{{errorText.latitude}}</a>
                      </div>
                    </div>

                    <div class="form-group row" style="margin-top: 30px;">
                      <div class="col-md-6">
                        <label for="especialidades" style="color: #1E4599">
                          <i class="fa fa-fw fa-map-marker"></i>Especialidades</label>
                        </br>

                        <button type="button" data-toggle="modal" data-target="#Espes" class="Boton Metal" style="width: 100%;">
                          <i class="fa fa-fw fa-plus"></i>Añadir Especialidades</button>

                        <ul class="list-group">
                          <li ng-repeat="x in especialidadesAgregar" class="list-group-item">
                            <div class="row">
                              <div class="col-md-6">
                                {{x.nombre}}
                              </div>
                              <div style="text-align: right;" class="col-md-6">
                                <button class="Boton Danger" ng-click="quitarEspecialidad(x)" type="button" style="padding: 1px; padding-left: 2px; padding-right: 2px;">Quitar</button>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <a style="color:red;">{{errorText.especialidades}}</a>
                      </div>



                      <div class="col-md-6">
                        <label for="domicilio" style="color: #1E4599">
                          <i class="fa fa-fw fa-map-marker"></i>Obras Sociales</label>
                        <input class="outline0" type="text" id="papapa" ng-value="ObrasSocialesAgregar" style="width: 0px; height: 0px; border: 0px;">
                        </br>
                        <button type="button" data-toggle="modal" data-target="#OS" class="Boton Metal" style="width: 100%;">
                          <i class="fa fa-fw fa-plus"></i>Añadir Obra Social</button>
                        <ul class="list-group">
                          <li ng-repeat="x in ObrasSocialesAgregar" class="list-group-item">
                            <div class="row">
                              <div class="col-md-6">
                                {{x.nombre}}
                              </div>
                              <div style="text-align: right;" class="col-md-6">
                                <button class="Boton Danger" ng-click="QuitarOS(x)" type="button" style="padding: 1px; padding-left: 2px; padding-right: 2px;">Quitar</button>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <i>
                          <a style="color:red;">{{errorText.obrasSociales}}</a>
                        </i>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-10 col-md-offset-1">
                        <div id="altamapa" style="display: none;" ng-hide="esconderMapa">
                          <input id="pac-input" class="controls" type="text" placeholder="Enter a location" style="z-index: 9999999 !important;" />
                          <div id="type-selector" class="controls">
                            <input type="radio" name="type" id="changetype-all" checked="checked">
                            <label for="changetype-all">All</label>
                          </div>
                          <input type="hidden" id="lat" ng-module="lat" />
                          <input type="hidden" id="lng" ng-module="lng" />

                          <div id="map" style="width: 100%; height: 400px; margin: 0px; right: 0px;"></div>

                        </div>
                      </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                      <div class="col-md-6">
                        <a style="color:red;">{{errorMsj}}</a>
                      </div>
                      <div class="col-md-2 col-md-offset-4">

                        <button style="margin-bottom: 10px; width: 100%;" type="submit" class="Boton Primary" ng-click="submit">
                          <i class="fa fa-fw fa-save" style="text-align: left;"></i>Alta</button>
                        <!-- <button style="margin-bottom: 10px; width: 100%;" type="submit" class="Boton Primary" ng-click="submit"><b>Alta</b></button> -->
                      </div>
                    </div>
                  </form>

                </div>

              </div>
            </div>
          </div>

        </md-content>
      </md-tab>




      <md-tab label="Baja/Modificacion" ng-click="ObtenerMedicos()">
        <md-content>
          <div class="row">
            <div class="col-md-12">
              <div class="titulo">
                Baja / Modificación de Medicos
              </div>
            </div>
          </div>
          <div class="row" style="padding: 10px;">
            <div class="col-md-12">

              <div class="panel panel-default col-md-12" style="margin-top: 20px; padding: 0px;">
                <!-- Default panel contents -->
                <div class="subtitulo">Medicos disponibles</div>

                <!-- Table -->
                <table class="table table-hover table-striped table-bordered">
                  <thead>
                    <tr ng-click="getPrimeraPagina()">
                      <td>
                        <input type="text" class="form-control" ng-model="filtro.nombre">
                      </td>
                      <td>
                        <input type="text" class="form-control" ng-model="filtro.particular">
                      </td>
                      <td>
                        <input type="text" class="form-control" ng-model="filtro.zona">
                      </td>
                      <td>
                        <input type="text" class="form-control" ng-model="filtro.localidad">
                      </td>
                      <td>
                        <input type="text" class="form-control" ng-model="filtro.domicilio">
                      </td>
                      <td>
                        <input type="text" class="form-control" ng-model="filtro.telefono">
                      </td>
                      <td></td>
                    </tr>
                    <tr style="color: #1E4599; background-color: #f5f5f5">
                      <td>
                        <a ng-click="sortType = 'nombre'; sortReverse = !sortReverse">
                          Nombre
                          <span ng-show="sortType == 'nombre' && !sortReverse" class="fa fa-caret-down"></span>
                          <span ng-show="sortType == 'nombre' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                      </td>
                      <td>
                        <a ng-click="sortType = 'nombre'; sortReverse = !sortReverse">
                          Particular
                          <span ng-show="sortType == 'nombre' && !sortReverse" class="fa fa-caret-down"></span>
                          <span ng-show="sortType == 'nombre' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                      </td>
                      <td>
                        <a ng-click="sortType = 'zona'; sortReverse = !sortReverse">
                          Zona
                          <span ng-show="sortType == 'zona' && !sortReverse" class="fa fa-caret-down"></span>
                          <span ng-show="sortType == 'zona' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                      </td>
                      <td>
                        <a ng-click="sortType = 'nombre'; sortReverse = !sortReverse">
                          Localidad
                          <span ng-show="sortType == 'localidad' && !sortReverse" class="fa fa-caret-down"></span>
                          <span ng-show="sortType == 'localidad' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                      </td>
                      <td>
                        <a ng-click="sortType = 'domicilio'; sortReverse = !sortReverse">
                          Direccion
                          <span ng-show="sortType == 'domicilio' && !sortReverse" class="fa fa-caret-down"></span>
                          <span ng-show="sortType == 'domicilio' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                      </td>
                      <td style="width: 10%;">Telefono</td>
                      <td>Opciones</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="7" style="color: #337ab7;" ng-if="medicos == undefined">
                        <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Cargando.. </td>
                    </tr>
                    <tr ng-repeat="x in medicos | orderBy:sortType:sortReverse |  filter:filtro as filteredElems track by $index" ng-if="separarPaginas($index)">
                      <td style="vertical-align: middle;">{{x.nombre}}</td>
                      <td style="vertical-align: middle;">{{changeFormat(x.particular)}}</td>
                      <td style="vertical-align: middle;">{{x.zona}}</td>
                      <td style="vertical-align: middle;">{{x.localidad}}</td>
                      <td style="vertical-align: middle;">{{x.domicilio}}</td>
                      <td style="vertical-align: middle;">{{x.telefono}}</td>
                      <td style="vertical-align: middle;">
                        <button ng-disabled="modificando" data-toggle="modal" data-target="#Modificar" class="Boton Primary" style="padding: 5px;"
                          ng-click="Editar(x)">
                          <i class="fa fa-fw fa-edit"></i> 
                        </button>
                        <button ng-disabled="modificando" class="Boton Danger" style="margin-left: 5px; padding: 5px;" ng-click="Eliminar($event,x)">
                          <i class="fa fa-fw fa-trash"></i> 
                        </button>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot style="overflow: auto;">
                    <tr>
                      <td colspan="7" style="text-align: center;">
                        <paginado></paginado>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
          <div class="row" ng-show="modificando" style="padding: 10px;">
            <div class="col-md-12">
              <div class="panel panel-default col-md-12" style="margin-top: -10px; padding: 0px;">
                <div class="subtitulo">Editando Medico
                  <button type="button" ng-click="cerrarEditar()" class="close" aria-hidden="true">&times;</button>
                </div>
                <div class="panel-body">
                  <div class="col-md-12">
                    <form name="altafrm" ng-submit="Guardar()">
                      <div class="form-group row">
                        <div class="col-md-4">
                          <label for="nombre" style="color: #1E4599">
                            <i class="fa fa-fw fa-user"></i>Nombre</label>
                          <input type="text" class="form-control" ng-model="medicoModif.nombre" placeholder="Nombre" required>
                          <i>
                            <a style="color:red;">{{errorText.NOMBRE}}</a>
                          </i>
                        </div>

                        <div class="col-md-2">
                          <label for="particular" style="color: #1E4599">
                            <i class="fa fa-fw fa-medkit"></i>Particular</label>
                          <select class="form-control" ng-model="medicoModif.particular" required>
                            <option selected disabled value>Seleccione..</option>
                            <option ng-value="1" ng-selected="medicoModif.particular == 1">Si</option>
                            <option ng-value="0" ng-selected="medicoModif.particular == 0">No</option>
                          </select>
                          <i>
                            <a style="color:red;">{{errorText.PARTICULAR}}
                              <a>
                          </i>
                        </div>

                        <div class="col-md-3">
                          <label for="nombre" style="color: #1E4599">
                            <i class="fa fa-fw fa-location-arrow"></i>ZONA</label>
                          <input type="text" class="form-control" ng-model="medicoModif.zona" placeholder="Zona" required>
                          <i>
                            <a style="color:red;">{{errorText.ZONA}}</a>
                          </i>
                        </div>
                        <div class="col-md-3">
                          <label for="telefono" style="color: #1E4599">
                            <i class="fa fa-fw fa-phone"></i>Telefono</label>
                          <input type="text" class="form-control" ng-model="medicoModif.telefono" placeholder="Telefono" required>
                          <i>
                            <a style="color:red;">{{errorText.TELEFONO}}</a>
                          </i>
                        </div>
                      </div>

                      <div class="form-group row" style="margin-top: 30px;">
                        <div class="col-md-6">
                          <label for="direccion" style="color: #1E4599">
                            <i class="fa fa-fw fa-location-arrow"></i>Direccion</label>
                          <input type="text" class="form-control" ng-model="medicoModif.domicilio" placeholder="Direccion" required>
                          <i>
                            <a style="color:red;">{{errorText.DIRECCION}}</a>
                          </i>
                        </div>
                        <div class="col-md-6">
                          <label for="localidad" style="color: #1E4599">
                            <i class="fa fa-fw fa-credit-card"></i>Localidad</label>
                          <input type="text" class="form-control" ng-model="medicoModif.localidad" placeholder="Localidad" required>
                          <i>
                            <a style="color:red;">{{errorText.LOCALIDAD}}</a>
                          </i>
                        </div>
                        <!-- <div class="col-md-3">
                          <label for="localidad" style="color: #1E4599">
                            <i class="fa fa-fw fa-map-marker"></i>Coordenadas</label>
                          <input class="outline0" type="text" id="pepepepe" ng-model="lat" style="width: 0px; height: 0px; border: 0px;" required disabled>
                          <button class="Boton" ng-disabled="!esconderMapaModificar" style="width: 100%;" ng-click="mapaModificar()" type="button">
                            <img src="images/mapa.png" width="20px" height="20px" style="float: left;" />EDITAR UBICACIÓN</button>
                          <i>
                            <a style="color:red;">{{errorText.latitud}}</a>
                          </i>
                        </div> -->
                      </div>

                      <div class="form-group row" style="margin-top: 30px;">
                        <div class="col-md-6">
                          <label for="especialidades" style="color: #1E4599">
                            <i class="fa fa-fw fa-map-marker"></i>Especialidades</label>
                          </br>

                          <button type="button" data-toggle="modal" data-target="#EspesMod" class="Boton Metal" style="width: 100%;">
                            <i class="fa fa-fw fa-plus"></i>Añadir Especialidades</button>

                          <ul class="list-group">
                            <li ng-repeat="x in especialidadesAgregarMod" class="list-group-item">
                              <div class="row">
                                <div class="col-md-6">
                                  {{x.nombre}}
                                </div>
                                <div style="text-align: right;" class="col-md-6">
                                  <button class="Boton Danger" ng-click="quitarEspecialidadMod(x)" type="button" style="padding: 1px; padding-left: 2px; padding-right: 2px;">Quitar</button>
                                </div>
                              </div>
                            </li>
                          </ul>
                          <i>
                            <a style="color:red;">{{errorText.especialidades}}</a>
                          </i>
                        </div>


                        <div class="col-md-6">
                          <label style="color: #1E4599">
                            <i class="fa fa-fw fa-map-marker"></i>Obras Sociales</label>
                          <input class="outline0" type="text" id="papapa" ng-value="ObrasSocialesAgregar" style="width: 0px; height: 0px; border: 0px;">
                          </br>
                          <button type="button" data-toggle="modal" data-target="#OSMod" class="Boton Metal" style="width: 100%;">
                            <i class="fa fa-fw fa-plus"></i>Añadir Obra Social </button>

                          <ul class="list-group">
                            <li ng-repeat="x in ObrasSocialesAgregarMod" class="list-group-item">
                              <div class="row">
                                <div class="col-md-6">
                                  {{x.nombre}}
                                </div>
                                <div style="text-align: right;" class="col-md-6">
                                  <button class="Boton Danger" ng-click="modQuitarOS(x)" type="button" style="padding: 1px; padding-left: 2px; padding-right: 2px;">Quitar</button>
                                </div>
                              </div>
                            </li>
                          </ul>
                          <i>
                            <a style="color:red;">{{errorText.obrasSociales}}</a>
                          </i>
                        </div>

                      </div>
                      <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                          <div id="modificarmapa" style="display: none;">
                            <input id="modificarpac-input" class="controls" type="text" placeholder="Enter a location" style="z-index: 9999999 !important;"/>
                            <div id="modificartype-selector" class="controls">
                              <input type="radio" name="type" id="modificarchangetype-all" checked="checked">
                              <label for="changetype-all">All</label>
                            </div>
                            <input type="hidden" id="modificarlat" ng-module="modificarlat"/>
                            <input type="hidden" id="modificarlng" ng-module="modificarlng"/>

                            <div id="modificarmap" style="width: 100%; height: 400px; margin: 0px; right: 0px;"></div>

                          </div>
                        </div>
                      </div>
                      <div class="row" style="margin-top: 10px;">
                        <div class="col-md-4">
                          <a style="color:red;">{{errorMsj}}</a>
                        </div>
                        <div class="col-md-2 col-md-offset-6">
                          <button style="margin-bottom: 10px; width: 100%;" type="submit" class="Boton Primary">
                            <i class="fa fa-fw fa-save" style="text-align: left;"></i>Guardar</button>
                        </div>
                      </div>
                    </form>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>


<div class="modal fade" id="Espes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Especialidades</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="filtroEspecialidades.nombre">
          <div class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
        <ul class="list-group" style="margin-top: 5px;">
          <li ng-repeat="x in Especialidades | filter: filtroEspecialidades | filter:{ estudio: '0'}" style="color: #0D295B; font-size: 16px;"
            class="list-group-item">
            <div class="row">
              <div class="col-md-6">
                {{x.nombre}}
              </div>
              <!-- <div class="col-md-6" style="text-align: right;">
                  <i ng-show="x.agregado == false" style="color: green;" class="glyphicon glyphicon-plus-sign" ng-click="agregarEspecialidad(x, 'especialidades')"></i>
                  <i ng-show="x.agregado == true" style="color: orange;" class="glyphicon glyphicon-remove-sign" ng-click="quitarEspecialidad(x, 'especialidades')"></i>
                </div> -->
              <div class="col-md-6" style="text-align: right;">
                <button type="button" ng-click="agregarEspecialidad(x)" ng-class="{'Brand': agregarEspecialidad.indexOf(x) == -1, 'Success': agregarEspecialidad.indexOf(x) != -1}"
                  ng-disabled="especialidadesAgregar.indexOf(x) != -1" class="Boton">Añadir</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="EspesMod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Especialidades</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="filtroEspecialidades.nombre">
          <div class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
        <ul class="list-group" style="margin-top: 5px;">
          <li ng-repeat="x in Especialidades | filter: filtroEspecialidades | filter:{ estudio: '0'}" style="color: #0D295B; font-size: 16px;"
            class="list-group-item">
            <div class="row">
              <div class="col-md-6">
                {{x.nombre}}
              </div>
              <!-- <div class="col-md-6" style="text-align: right;">
                    <i ng-show="x.agregado == false" style="color: green;" class="glyphicon glyphicon-plus-sign" ng-click="agregarEspecialidad(x, 'especialidades')"></i>
                    <i ng-show="x.agregado == true" style="color: orange;" class="glyphicon glyphicon-remove-sign" ng-click="quitarEspecialidad(x, 'especialidades')"></i>
                  </div> -->
              <div class="col-md-6" style="text-align: right;">
                <button type="button" ng-click="agregarEspecialidadMod(x)" ng-class="{'Brand': agregarEspecialidadMod.indexOf(x) == -1, 'Success': agregarEspecialidadMod.indexOf(x) != -1}"
                  ng-disabled="especialidadesAgregarMod.indexOf(x) != -1" class="Boton">Añadir</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="OS" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Obras Sociales</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="filtroOS.nombre">
          <div class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
        <ul class="list-group" style="margin-top: 5px;">
          <li ng-repeat="x in obrasSociales | filter: filtroOS" style="color: #0D295B;" class="list-group-item">
            <div class="row">
              <div class="col-md-6">
                {{x.nombre}}
              </div>
              <div class="col-md-6" style="text-align: right;">
                <button type="button" ng-click="AgregarOS(x)" ng-class="{'Brand': ObrasSocialesAgregar.indexOf(x) == -1, 'Success': ObrasSocialesAgregar.indexOf(x) != -1}"
                  ng-disabled="ObrasSocialesAgregar.indexOf(x) != -1" class="Boton">Añadir</button>
              </div>
            </div>
          </li>
          <li ng-if="obrasSociales == undefined" class="list-group-item" style="color: #0D295B;">
            <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Cargando..
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="Boton Danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="OSMod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Obras Sociales</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="filtroOS.nombre">
          <div class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
        <ul class="list-group" style="margin-top: 5px;">
          <li ng-repeat="x in obrasSociales | filter: filtroOS" style="color: #0D295B;" class="list-group-item">
            <div class="row">
              <div class="col-md-6">
                {{x.nombre}}
              </div>
              <div class="col-md-6" style="text-align: right;">
                <button type="button" ng-click="modAgregarOS(x)" ng-class="{'Brand': ObrasSocialesAgregarMod.indexOf(x) == -1, 'Success': ObrasSocialesAgregarMod.indexOf(x) != -1}"
                  ng-disabled="UserSrv.OSAgregada(ObrasSocialesAgregarMod, x)" class="Boton">Añadir</button>
              </div>
            </div>
          </li>
          <li ng-if="obrasSociales == undefined" class="list-group-item" style="color: #0D295B;">
            <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Cargando..
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="Boton Danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="Mapin" tabindex="-1" style="z-index: 9999999;" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Ubicar en Mapa</h4>
      </div>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>

</div>